In [24]:
from fugle_realtime import intraday
import json

In [3]:
api_token = '64b94ec3dd1aa240e024af559bdf4bc8'

In [14]:
intraday.chart(apiToken=api_token, output="dataframe", symbolId="2330").tail(5)

                           at  close   high    low   open  unit   volume
261 2020-04-01 05:22:00+00:00  273.0  273.0  272.5  272.5   107   107000
262 2020-04-01 05:23:00+00:00  272.5  273.0  272.5  273.0   208   208000
263 2020-04-01 05:24:00+00:00  272.0  273.0  272.0  272.5   402   402000
264 2020-04-01 05:25:00+00:00  272.5  273.0  272.0  272.5   249   249000
265 2020-04-01 05:30:00+00:00  271.5  271.5  271.5  271.5  7773  7773000

In [33]:
intraday.meta(apiToken=api_token, output="raw", symbolId="2330")

{'canDayBuySell': True,
 'canDaySellBuy': True,
 'canShortLend': True,
 'canShortMargin': True,
 'currency': 'TWD',
 'industryZhTw': '半導體業',
 'isIndex': False,
 'isSuspended': False,
 'isTerminated': False,
 'isWarrant': False,
 'nameZhTw': '台積電',
 'priceHighLimit': 301,
 'priceLowLimit': 247,
 'priceReference': 274,
 'typeZhTw': '一般股票',
 'volumePerUnit': 1000}

In [22]:
intraday.trades(apiToken=api_token, output="dataframe", symbolId="2884")

                                   at  price   serial  unit   volume
0    2020-03-12 01:00:02.238000+00:00  27.85    76331  4865  4865000
1    2020-03-12 01:00:07.251000+00:00  27.90    76581    87    87000
2    2020-03-12 01:00:12.266000+00:00  27.85    76950    71    71000
3    2020-03-12 01:00:17.281000+00:00  27.90    77375    40    40000
4    2020-03-12 01:00:22.296000+00:00  27.90    77817    90    90000
5    2020-03-12 01:00:27.309000+00:00  27.90    78320   112   112000
6    2020-03-12 01:00:32.324000+00:00  27.90    78909   201   201000
7    2020-03-12 01:00:37.337000+00:00  27.85    79561   193   193000
8    2020-03-12 01:00:42.350000+00:00  27.90    80177    86    86000
9    2020-03-12 01:00:47.364000+00:00  27.90    80716    33    33000
10   2020-03-12 01:00:52.377000+00:00  27.90    81241   114   114000
11   2020-03-12 01:00:57.392000+00:00  27.90    81919    64    64000
12   2020-03-12 01:01:02.406000+00:00  27.90    82494   162   162000
13   2020-03-12 01:01:07.420000+00:00  27.90    83049   103   103000
14   2020-03-12 01:01:12.435000+00:00  27.90    83592   116   116000
15   2020-03-12 01:01:17.450000+00:00  27.90    84121   101   101000
16   2020-03-12 01:01:22.464000+00:00  27.90    84683    75    75000
17   2020-03-12 01:01:27.478000+00:00  27.90    85227   211   211000
18   2020-03-12 01:01:32.492000+00:00  27.90    85797   129   129000
19   2020-03-12 01:01:37.506000+00:00  27.85    86312   161   161000
20   2020-03-12 01:01:42.522000+00:00  27.90    86868    52    52000
21   2020-03-12 01:01:47.535000+00:00  27.90    87393    24    24000
22   2020-03-12 01:01:52.547000+00:00  27.90    87990   532   532000
23   2020-03-12 01:01:57.561000+00:00  27.85    88533   964   964000
24   2020-03-12 01:02:02.575000+00:00  27.85    89082   272   272000
25   2020-03-12 01:02:07.589000+00:00  27.90    89651   146   146000
26   2020-03-12 01:02:12.603000+00:00  27.85    90221    67    67000
27   2020-03-12 01:02:17.615000+00:00  27.85    90782    36    36000
28   2020-03-12 01:02:22.630000+00:00  27.90    91311    82    82000
29   2020-03-12 01:02:27.644000+00:00  27.85    91824    60    60000
...                               ...    ...      ...   ...      ...
2994 2020-03-12 05:22:35.006000+00:00  27.00  1459610    21    21000
2995 2020-03-12 05:22:40.019000+00:00  27.00  1460053     9     9000
2996 2020-03-12 05:22:45.034000+00:00  27.00  1460503    71    71000
2997 2020-03-12 05:22:50.048000+00:00  27.00  1460942    18    18000
2998 2020-03-12 05:22:55.064000+00:00  27.00  1461398    18    18000
2999 2020-03-12 05:23:00.078000+00:00  27.00  1461862    37    37000
3000 2020-03-12 05:23:05.093000+00:00  27.05  1462329     8     8000
3001 2020-03-12 05:23:10.105000+00:00  27.00  1462814    21    21000
3002 2020-03-12 05:23:15.120000+00:00  27.00  1463296    66    66000
3003 2020-03-12 05:23:20.134000+00:00  27.00  1463777     2     2000
3004 2020-03-12 05:23:25.150000+00:00  27.05  1464246     1     1000
3005 2020-03-12 05:23:30.163000+00:00  27.00  1464729    43    43000
3006 2020-03-12 05:23:35.177000+00:00  27.00  1465208    28    28000
3007 2020-03-12 05:23:40.190000+00:00  27.00  1465670    42    42000
3008 2020-03-12 05:23:45.204000+00:00  27.00  1466126   133   133000
3009 2020-03-12 05:23:50.250000+00:00  27.00  1466598   188   188000
3010 2020-03-12 05:23:55.302000+00:00  27.00  1467141   134   134000
3011 2020-03-12 05:24:00.344000+00:00  27.00  1467666    46    46000
3012 2020-03-12 05:24:05.382000+00:00  27.00  1468175    34    34000
3013 2020-03-12 05:24:10.413000+00:00  27.00  1468664    17    17000
3014 2020-03-12 05:24:15.440000+00:00  27.00  1469158    33    33000
3015 2020-03-12 05:24:20.465000+00:00  27.05  1469645    12    12000
3016 2020-03-12 05:24:25.488000+00:00  27.05  1470134    23    23000
3017 2020-03-12 05:24:30.511000+00:00  27.00  1470612    85    85000
3018 2020-03-12 05:24:35.533000+00:00  27.00  1471088    28    28000
3019 2020-03-12 05:24:40.555000+00:00  27.05  1471549    82    82000
3020 2020-03-12 05:24:45.577000+00:00  27.05  1472043    35    35000
3021 2020-03-12 05:24:50.596000+00:00  27.05  1472528    26    26000
3022 2020-03-12 05:24:55.616000+00:00  27.05  1473015    17    17000
3023        2020-03-12 05:30:00+00:00  27.05  1500225  4331  4331000

[3024 rows x 5 columns]

In [16]:
aa = intraday.quote(apiToken=api_token, output='dataframe', symbolId='2884').tail(1)

In [19]:
aa.keys()

Index(['isCloseDelayed', 'isClosed', 'isCurbing', 'isHalting', 'isOpenDelayed',
       'isTrial', 'order.at', 'order.bestAsks', 'order.bestBids',
       'priceHigh.at', 'priceHigh.price', 'priceLow.at', 'priceLow.price',
       'priceOpen.at', 'priceOpen.price', 'total.at', 'total.unit',
       'total.volume', 'trade.at', 'trade.price', 'trade.serial', 'trade.unit',
       'trade.volume', 'trial.at', 'trial.price', 'trial.unit',
       'trial.volume'],
      dtype='object')

In [30]:
aa['total.unit']

0    32022
Name: total.unit, dtype: int64

In [27]:
bb = intraday.quote(apiToken=api_token, output='raw', symbolId='2330')

In [28]:
quote_json = json.dumps(bb)

In [29]:
quote_json

'{"isCloseDelayed": false, "isClosed": true, "isHalting": false, "isOpenDelayed": false, "order": {"bestAsks": [{"price": 272, "unit": 34, "volume": 34000}, {"price": 272.5, "unit": 50, "volume": 50000}, {"price": 273, "unit": 127, "volume": 127000}, {"price": 273.5, "unit": 133, "volume": 133000}, {"price": 274, "unit": 684, "volume": 684000}], "bestBids": [{"price": 269.5, "unit": 130, "volume": 130000}, {"price": 270, "unit": 1533, "volume": 1533000}, {"price": 270.5, "unit": 992, "volume": 992000}, {"price": 271, "unit": 788, "volume": 788000}, {"price": 271.5, "unit": 601, "volume": 601000}], "at": "2020-04-01T05:30:00.000Z"}, "priceOpen": {"at": "2020-04-01T01:00:00.829Z", "price": 276.5}, "isCurbing": false, "isTrial": false, "total": {"at": "2020-04-01T05:55:09.093Z", "unit": 44068, "volume": 44068000}, "trial": {"at": "2020-04-01T05:29:57.483Z", "price": 271.5, "unit": 7773, "volume": 7773000}, "priceHigh": {"at": "2020-04-01T01:00:00.829Z", "price": 276.5}, "priceLow": {"at": "2020-04-01T05:30:00.000Z", "price": 271.5}, "trade": {"at": "2020-04-01T05:30:00.000Z", "price": 271.5, "serial": 4499854, "unit": 7773, "volume": 7773000}}'